<head>
  <!-- <link
    href="http://cdn.jsdelivr.net/npm/suggestions-jquery@22.6.0/dist/css/suggestions.min.css"
    rel="stylesheet"
  /> -->
</head>
<div class="container">
  <div class="row_class">
    <!-- <input
      type="text"
      [(ngModel)]="city"
      (input)="onInputChange()"
      (click)="toggleSuggestions()"
      id="address"
      name="address"
      class="address"
    /> -->
    <input
      type="search"
      placeholder="Введите название города"
      [(ngModel)]="city"
      (input)="onInputChange()"
      (click)="toggleSuggestions()"
      id="address"
      name="address"
      class="address"
    />
    <div class="time">{{ this.getTimeFromTimezone(timezone) }}</div>
  </div>
  <div class="suggestions-container">
    <div class="suggestions" *ngIf="showSuggestions">
      <div
        *ngFor="let suggestion of this.getSuggestions()"
        (click)="selectSuggestion(suggestion)"
      >
        <div class="suggestion">{{ suggestion.value }}</div>
      </div>
    </div>
  </div>

  <span class="city-name" id="selected-city"> {{ selectedCity }}</span>
  <div align="center"><img src="{{ iconURL }}" alt="" /></div>
  <div class="temp">Температура</div>
  <div class="temp">
    <b>{{ temperature }}°C</b>
  </div>
  <table>
    <tbody>
      <tr>
        <td>Ощущается как</td>
        <td>Макисмальная</td>
        <td>Минимальная</td>
      </tr>
      <tr>
        <td>{{ feelsLikeTemp }}°C</td>
        <td>{{ temp_max }}°C</td>
        <td>{{ temp_min }}°C</td>
      </tr>
    </tbody>
  </table>
  <table>
    <tbody>
      <tr>
        <td>Восход</td>
        <td>Закат</td>
      </tr>
      <tr>
        <td>{{ this.getTimeFromTimezone(sunrise) }}</td>
        <td>{{ this.getTimeFromTimezone(sunset) }}</td>
      </tr>
    </tbody>
  </table>
  <table>
    <tbody>
      <tr>
        <td>Скорость ветра</td>
        <td>Давление</td>
      </tr>
      <tr>
        <td>{{ wind_speed }}м/с</td>
        <td>{{ pressure }}hПа</td>
      </tr>
      <tr>
        <td>Влажность</td>
        <td>Уровень моря</td>
      </tr>
      <tr>
        <td>{{ humidity }}%</td>
        <td>{{ sea_level }}</td>
      </tr>
    </tbody>
  </table>
</div>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="http://cdn.jsdelivr.net/npm/suggestions-jquery@22.6.0/dist/js/jquery.suggestions.min.js"></script> -->
