.container {
  width: 500px;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;

  background-color: rgb(85, 134, 199);
  background: linear-gradient(to bottom, #5f97cc, #e0ebf1);

  .row_class {
    position: relative;
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;

    input[type="search"] {
      border: none;
      border-radius: 14px;
      padding-left: 15px;
      padding-right: 10px;
      width: 250px;
      height: 30px;
      margin: auto;
      margin-right: 20px;
      font-family: "Sitara", Arial, sans-serif;
      font-size: 14px;
      color: #616161;
      background-color: rgb(255, 255, 255);
      outline: none;

      &::placeholder {
        color: #999;
        font-size: 14px;
      }
    }
    .time {
      font-size: 34px;
      font-family: "Sitara", Arial, sans-serif;
      font-weight: bold;
      color: #fff;
      margin: auto;
      margin-left: 20px;
    }
  }

  .city-name {
    color: #ffffff;
    font-size: 30px;
    font-family: "Sitara", Arial, sans-serif;
    font-weight: bold;
    margin: auto;
    margin-top: 10%;
    margin-bottom: 5%;
    display: flex;
    padding: 0 0 0 0;
  }

  table {
    width: 80%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 0px;
    text-align: center;
    background-color: rgb(114, 162, 207);
    border-radius: 8px;

    tr {
      td {
        color: #ffffff;
        font-family: "Sitara", Arial, sans-serif;
        height: 40px;
        text-align: center;
        width: 25%;
      }
    }
  }

  .suggestions-container {
    position: relative;

    .suggestions {
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 1;
      background-color: #fff;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      padding: 8px 0;
      max-height: 200px;
      overflow-y: auto;

      .suggestion {
        padding: 8px 16px;
        cursor: pointer;

        &:hover {
          background-color: #f2f2f2;
        }
      }
    }
  }
  .temp {
    font-size: 25px;
    font-family: "Sitara", Arial, sans-serif;
    color: #fff;
    margin: auto;
    margin-top: 5px;
  }
}
