<head>
  <link
    href="http://cdn.jsdelivr.net/npm/suggestions-jquery@22.6.0/dist/css/suggestions.min.css"
    rel="stylesheet"
  />
</head>
<div class="container">
  <div class="row_class">
    <!-- <input
      type="text"
      [(ngModel)]="city"
      (input)="onInputChange()"
      (click)="toggleSuggestions()"
      id="address"
      name="address"
      class="address"
    /> -->
    <input
      type="text"
      [(ngModel)]="city"
      (input)="onInputChange()"
      (click)="toggleSuggestions()"
      id="address"
      name="address"
      class="address"
    />
    <div class="time">20:30</div>
  </div>
  <div class="suggestions-container">
    <div class="suggestions" *ngIf="showSuggestions">
      <div
        *ngFor="let suggestion of this.getSuggestions()"
        (click)="selectSuggestion(suggestion)"
      >
        <div class="suggestion">{{ suggestion.value }}</div>
      </div>
    </div>
  </div>

  <span class="city-name" id="selected-city"> {{ city }}</span>
  <table border="0" cellpadding="0" cellspacing="0">
    <tbody>
      <tr>
        <td style="border-bottom: 1px solid #4a7bb3">Утро</td>
        <td
          style="
            border-bottom: 1px solid #4a7bb3;
            border-left: 1px solid #4a7bb3;
          "
        >
          День
        </td>
        <td
          style="
            border-bottom: 1px solid #4a7bb3;
            border-left: 1px solid #4a7bb3;
          "
        >
          Вечер
        </td>
        <td
          style="
            border-bottom: 1px solid #4a7bb3;
            border-left: 1px solid #4a7bb3;
          "
        >
          Ночь
        </td>
      </tr>
      <tr>
        <td>23</td>
        <td style="border-left: 1px solid #4a7bb3">30</td>
        <td style="border-left: 1px solid #4a7bb3">20</td>
        <td style="border-left: 1px solid #4a7bb3">18</td>
      </tr>
    </tbody>
  </table>

  <div class="card-body">
    <p class="card-text">Summary: {{ summary }}</p>
    <p class="card-text">Temp: {{ temperature }} F</p>
    <p class="card-text">Feels like: {{ feelsLikeTemp }} F</p>
    <p class="card-text">Pressure: {{ pressure }} hPa</p>
    <p class="card-text">Humidity: {{ humidity }} %</p>
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="http://cdn.jsdelivr.net/npm/suggestions-jquery@22.6.0/dist/js/jquery.suggestions.min.js"></script>
